<div flex="60" flex-sm="100" flex-xs="100">
    <h2 class="md-display-1">Vídeo em destaque</h2>

    <div class="video-container">
        <vy-video ng-if="!!vm.currentVideo.id" video="vm.currentVideo"></vy-video>
    </div>

    <md-card class="margin-0 margin-top-10">
        <div layout-gt-sm="row" layout-align-gt-sm="start start" layout="column" layout-align="start start">
            <md-card-title flex-gt-sm="80" flex="80">
                <md-card-title-text>
                    <span class="md-headline" ng-bind="vm.currentVideo.snippet.title"></span>
                </md-card-title-text>
            </md-card-title>

            <md-card-actions flex-gt-sm="10" flex="10">
                <div layout="row" layout-align="start start">
                    <md-card-icon-actions class="flex-end">
                        <md-button class="md-icon-button" aria-label="Views">
                            <md-icon aria-label="Views" class="material-icons">
                                <md-tooltip md-direction="top">
                                    <span ng-bind="vm.currentVideo.statistics.viewCount"></span> views
                                </md-tooltip>
                                visibility
                            </md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="publishedAt">
                            <md-icon aria-label="publishedAt" class="material-icons">
                                <md-tooltip md-direction="top">
                                    <span>{{vm.currentVideo.snippet.publishedAt | date:"longDate" }}</span>
                                </md-tooltip>
                                query_builder
                            </md-icon>
                        </md-button>
                    </md-card-icon-actions>
                </div>
            </md-card-actions>
        </div>
        <md-card-content>
            <p ng-bind="vm.currentVideo.snippet.description">
            </p>
        </md-card-content>
    </md-card>
</div>
<div flex="40" flex-sm="100" flex-xs="100">
    <h2 class="md-display-1">+ Vídeos</h2>
    <md-card>
        <md-content>
            <vy-video-mini ng-if="vm.videos" ng-repeat="video in vm.videos" video="video"
                           ng-click="vm.play(video)"></vy-video-mini>
        </md-content>
        <div flex layout="column" layout-align="none stretch" ng-if="vm.pageToken && !vm.loading">
            <md-button class="simple" ng-click="vm.loadFullVideo()">Carregar mais vídeos...</md-button>
        </div>
        <div flex layout="column" layout-align="center center" ng-if="vm.loading">
            <md-progress-circular md-diameter="40" md-mode='indeterminate'></md-progress-circular>
        </div>
    </md-card>
</div>